# jupyter  markdown
## jupyter mark down
### jupyter mark down
#### jupyter mark down
##### jupyter mark down
###### jupyter mark down

# jupyter markdown
 
 - point 1
    

     - point 1 
     - point 2
     - point 3
  - point 2

# python introduction 

 - python 3
 - python can be used as functional programming
 - python can be used as scripting programming
 - python intially designed by guido van rosum in 1991

In [9]:
# input and output function
# output function
print("hello world")
print("welcome to python programming")

hello world
welcome to python programming

In [10]:
print("makdowncell",end="")
print("code cell")

makdowncellcode cell

In [11]:
#input function
print("enter your name :")
a=input('')
print('your name is',a)

enter your name :
hima
your name is hima

# variable are also called as identifiers
# var name always starts  with alphabets
## does not starts with any special char expect _
## does not start  with digits

In [12]:
x=10
type(x)

int

In [13]:
y=12
x+y

22

# Fundamental Data types:
### - int
### - float
### - complex
### - boolean
### - string

In [14]:
x=10
y=10.5
x+y

20.5

In [16]:
x=10
y=10.5
print(x+y)
type(y)

20.5

float

In [17]:
c = 2+2j
d = 3+3j
c+d

(5+5j)

In [18]:
# Type casting

a = 12.56
int(a)

12

In [19]:
# type casting
a=12.56
int(a)
complex(a)

(12.56+0j)

In [20]:
# type casting 
a=12.56
print(int(a))
print(complex(a))

12
(12.56+0j)

In [21]:
complex(3,4)

(3+4j)

# Boolean datatype
# true
# false

In [27]:
a= True
type(a)

bool

In [28]:
b= False
type(b)

bool

In [29]:
#string:
a='python'
b="p"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [30]:
a="100"
type(a)

str

In [31]:
a='100'
type(a)

str

In [32]:
a='100'
print(type(a))
b='100'
print(type(b))

<class 'str'>
<class 'str'>

In [33]:
a='100'
print(type(a))
b=int(a)
print(type(b))

<class 'str'>
<class 'int'>

In [34]:
a='100'
print(type(a))
b=int(a)
print(type(b))
c=float(a)
type(c)

<class 'str'>
<class 'int'>

float

In [35]:
a='1234'
len(a)

4

In [37]:
# digit count
# converts it into string and print the number of characters
a=1233
len(str(a))

4

# Operators:
## Arithmetic operators:

# -+
# -
# *
# /
# %
# // 
# **

In [38]:
123/5

24.6

In [39]:
123//5

24

In [40]:
a=3
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

5
1
6
1.5
1
1
9

# Logical operators:
## - and
## - or
## - not

In [41]:
x=12
y=5
print(x >=20 and y <=3)

False

In [43]:
x=12
y=5
print(x >=20 and y >3)
print(x >=20 or y>2)

False
True

In [44]:
x=12
y=5
print(x >=20 and y >3)
print(x >=20 or y >2 )
not x

False
True

False

# Relational operators:
## <
## <=
## >
## >=
## ==
## !==

In [45]:
x=2
y=5
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x==y)
print(x!=y)

False
False
True
True
False
True

# Membership operator:
## - in,not in

In [50]:
a="python"
print('p'in a)
print('P'in a)

True
False

In [53]:
a="Python"
print('P' in a)
print('p'in a)
print('P'not in a)
print('p' not in a)

True
False
False
True

# conditional statements:
## - if(single condition)
## - if else(two condition)
## - elif(multiple condition)

## syntax:

# if condition:
    - statements

In [54]:
# To check the given number is even or odd
input("enter a number")

enter a number5

'5'

In [55]:
a= input("enter a number")

enter a number5

In [56]:
type(a)

str

In [57]:
a=int(input("enter a number"))
type(a)

enter a number5

int

In [60]:
a=int(input("Enter a number"))
if a%2==0:       
    print("even")

Enter a number4
even

In [61]:
# if - else:
a = int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

enter a number3
odd

In [62]:
# To check the number is positive or negative or zero
n=int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
elif n==0:
    print("zero")

enter a number5
positive

In [ ]:
# To check for leap year
year %400==0
year%4 == 0
year%100 !=0

In [75]:
year = int(input(""))
if (year%4==0 and year%400==0 and year %100 !=0):
    print("leap year")
else:
    print("Not a leap year")

2019
Not a leap year

In [73]:
year = int(input(""))
if (year%4==0 or year%400==0 and year %100 !=0):
    print("leap year")
else:
    print("Not a leap year")

2016
leap year

# Looping statements:
## - while loop
## - for loop

In [76]:
print("Gitam")
print("Gitam")
print("Gitam")

Gitam
Gitam
Gitam

# syntax:
  # - while condition
  # - statements

In [77]:
#print numbers from 1 to N # 10
n =int(input(''))
i=1
while i<=n:
    print(i)
    i+=1 #i = i+1

10
1
2
3
4
5
6
7
8
9
10